post_merge_fullanl/doneFOR009/for009_0_1.txt
post_merge_fullanl/doneFOR009/for009_0_2.txt
post_merge_fullanl/doneFOR009/for009_1_1.txt
post_merge_fullanl/doneFOR009/for009_1_2.txt
post_merge_fullanl/for009.dat
examples/for009_noerr_1.txt
examples/for009_noerr_2.txt
examples/for009_noerr_3.txt
examples/for009_noerr_4.txt
examples/for009_noerr_5.txt
examples/for009_noerr_6.txt
examples/for009_noerr_7.txt
examples/for009_noerr_8.txt
examples/for009_noerr_9.txt
examples/for009_noerr_10.txt
fullpost_merge/combined_phase_spaceStage4end.png
examples/for009_noerr_1.txt
fullpost_merge/doneFOR009/for009_noerr_1.txt
fullpost_merge/doneFOR009/for009_noerr_2.txt
fullpost_merge/doneFOR009/for009_noerr_3.txt
fullpost_merge/doneFOR009/for009_noerr_4.txt
fullpost_merge/doneFOR009/for009_noerr_5.txt
fullpost_merge/doneFOR009/for009_noerr_6.txt
fullpost_merge/doneFOR009/for009_noerr_7.txt
fullpost_merge/doneFOR009/for009_noerr_8.txt
fullpost_merge/doneFOR009/for009_noerr_9.txt
fullpost_merge/doneFOR009/for009_noerr_10.txt
.gitignore
fullpost_merge/coil.dat
fullpost_merge/coil1.dat
fullpost_merge/coil2.dat
fullpost_merge/coil3.dat
fulltolanlpost_merge/doneFOR009/for009_noerr_1.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_2.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_3.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_4.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_5.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_6.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_7.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_8.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_9.txt
fulltolanlpost_merge/doneFOR009/for009_noerr_10.txt
fulltolanlpost_merge/doneFOR009/for009_werr_1_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_1_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_2_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_2_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_3_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_3_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_4_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_4_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_5_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_5_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_6_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_6_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_7_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_7_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_8_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_8_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_9_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_9_1.txt
fulltolanlpost_merge/doneFOR009/for009_werr_10_0.txt
fulltolanlpost_merge/doneFOR009/for009_werr_10_1.txt
post_merge/for009_0.txt
post_merge/for009_1.txt
post_merge/for009_noerr.txt
post_merge/for009.dat
post_merge/for009prev.txt
fulltolanlpost_merge/for009_werr_1_2.txt
fulltolanlpost_merge/for009_werr_3_1.txt
fulltolanlpost_merge/for009.txt
